#===============================================================
# Resource file for the Harmonized Emissions Component (HEMCO) 
#===============================================================

        #############################
        # Number of instances?
        #############################

HEMCO_Instances: 1

        ###############################
        # Configuration files for every
        # instance 
        ###############################

HEMCO_CONFIG--001: HEMCOgocart_Config.rc
HEMCO_CONFIG--002: HEMCOgmi_Config.rc
