#
Include%%
##
%%

#
PrimaryExports%%
# -------------|-------|-------|--------|----------------------|--------|--------|-------------|----------|
#  Import      |       |       | Regrid |        Refresh       | OffSet | Scale  | Variable On |   File   |
#  Name        | Units | Clim  | Method |     Time Template    | Factor | Factor |     File    | Template |
# -------------|-------|-------|--------|----------------------|--------|--------|-------------|----------|
#
# ----------------
# EMISSION FIELDS
# ----------------
#
# --- GOCART --- 
GOCART_SO2_ANTHROL1 NA Y Y %y4-%m2-%d2t12:00:00 none none sanl1 ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_so2.surface.x3600_y1800_t12.2008.nc4
GOCART_SO2_ANTHROL2 NA Y Y %y4-%m2-%d2t12:00:00 none none sanl2 ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_so2.elevated.x3600_y1800_t12.2008.nc4
GOCART_SO2_SHIP NA Y Y %y4-%m2-%d2t12:00:00 none none so2_ship ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_so2.ships.x3600_y1800_t12.2008.nc4
GOCART_SO4_SHIP NA Y Y %y4-%m2-%d2t12:00:00 none none so4_ship ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_so4.ships.x3600_y1800_t12.2008.nc4

GOCART_OC_ANTEOC1 NA Y Y %y4-%m2-%d2t12:00:00 none none anteoc1 ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_oc.surface.x3600_y1800_t12.2008.nc4
GOCART_OC_ANTEOC2 NA Y Y %y4-%m2-%d2t12:00:00 none none anteoc2 ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_oc.elevated.x3600_y1800_t12.2008.nc4
GOCART_OC_SHIP    NA Y Y %y4-%m2-%d2t12:00:00 none none oc_ship ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_oc.ships.x3600_y1800_t12.2008.nc4

GOCART_BC_ANTEBC1 NA Y Y %y4-%m2-%d2t12:00:00 none none antebc1 ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_bc.surface.x3600_y1800_t12.2008.nc4
GOCART_BC_ANTEBC2 NA Y Y %y4-%m2-%d2t12:00:00 none none antebc2 ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_bc.elevated.x3600_y1800_t12.2008.nc4
GOCART_BC_SHIP NA Y Y %y4-%m2-%d2t12:00:00 none none bc_ship ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_bc.ships.x3600_y1800_t12.2008.nc4

GOCART_CO_BF NA Y Y %y4-%m2-%d2t12:00:00 none none emcobf ExtData/PIESA/sfc/co_biofuel_v2.x360_y181_t12.2001.nc
GOCART_CO_FS NA Y Y %y4-%m2-%d2t12:00:00 none none emcofs ExtData/PIESA/sfc/co_fossilfuel_v2.x360_y181_t12.2001.nc

GOCART_EMI_NH3_AG          'kg m-2 s-1'    Y        Y     %y4-%m2-%d2T12:00:00    none     none    nh3_emis   ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_nh3.agriculture.x3600_y1800_t12.2008.nc4
GOCART_EMI_NH3_EN          'kg m-2 s-1'    Y        Y     %y4-%m2-%d2T12:00:00    none     none    nh3_emis   ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_nh3.energy.x3600_y1800_t12.2008.nc4
GOCART_EMI_NH3_IN          'kg m-2 s-1'    Y        Y     %y4-%m2-%d2T12:00:00    none     none    nh3_emis   ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_nh3.industry.x3600_y1800_t12.2008.nc4
GOCART_EMI_NH3_RE          'kg m-2 s-1'    Y        Y     %y4-%m2-%d2T12:00:00    none     none    nh3_emis   ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_nh3.residential.x3600_y1800_t12.2008.nc4
GOCART_EMI_NH3_TR          'kg m-2 s-1'    Y        Y     %y4-%m2-%d2T12:00:00    none     none    nh3_emis   ExtData/PIESA/sfc/HTAP/v2.2/htap-v2.2.emis_nh3.transport.x3600_y1800_t12.2008.nc4

# --- HTAP ---
HTAP_CO_IND      kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_co             /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_CO_INDUSTRY_2010.generic.01x01.nc 
HTAP_CO_POW      kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_co             /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_CO_ENERGY_2010.generic.01x01.nc 
HTAP_CO_TRA      kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_co             /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_CO_TRANSPORT_2010.generic.01x01.nc 
HTAP_CO_RES      kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_co             /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_CO_RESIDENTIAL_2010.generic.01x01.nc 
HTAP_CO_SHIP     kg_m-2_s-1     N    N -                      0.0      1.0     emi_co            /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_CO_SHIPS_2010.generic.01x01.nc

HTAP_SO2_IND     kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_so2             /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_SO2_INDUSTRY_2010.generic.01x01.nc
HTAP_SO2_POW     kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_so2             /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_SO2_ENERGY_2010.generic.01x01.nc
HTAP_SO2_TRA     kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_so2             /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_SO2_TRANSPORT_2010.generic.01x01.nc
HTAP_SO2_RES     kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_so2             /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_SO2_RESIDENTIAL_2010.generic.01x01.nc
HTAP_SO2_SHIP    kg_m-2_s-1     N    N -                      0.0      1.0     emi_so2            /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_SO2_SHIPS_2010.generic.01x01.nc

HTAP_BC_IND      kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_bc             /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_BC_INDUSTRY_2010.generic.01x01.nc
HTAP_BC_POW      kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_bc             /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_BC_ENERGY_2010.generic.01x01.nc
HTAP_BC_TRA      kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_bc             /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_BC_TRANSPORT_2010.generic.01x01.nc
HTAP_BC_RES      kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_bc             /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_BC_RESIDENTIAL_2010.generic.01x01.nc
HTAP_BC_SHIP     kg_m-2_s-1     N    N -                      0.0      1.0     emi_bc            /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_BC_SHIPS_2010.generic.01x01.nc

HTAP_OC_IND      kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_oc             /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_OC_INDUSTRY_2010.generic.01x01.nc
HTAP_OC_POW      kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_oc             /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_OC_ENERGY_2010.generic.01x01.nc
HTAP_OC_TRA      kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_oc             /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_OC_TRANSPORT_2010.generic.01x01.nc
HTAP_OC_RES      kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_oc             /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_OC_RESIDENTIAL_2010.generic.01x01.nc
HTAP_OC_SHIP     kg_m-2_s-1     N    N -                      0.0      1.0     emi_oc            /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_OC_SHIPS_2010.generic.01x01.nc

HTAP_NH3_IND     kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_nh3           /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_NH3_INDUSTRY_2010.generic.01x01.nc
HTAP_NH3_POW     kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_nh3           /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_NH3_ENERGY_2010.generic.01x01.nc
HTAP_NH3_TRA     kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_nh3           /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_NH3_TRANSPORT_2010.generic.01x01.nc
HTAP_NH3_AGR     kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_nh3           /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_NH3_AGRICULTURE_2010.generic.01x01.nc
HTAP_NH3_RES     kg_m-2_s-1     Y    N 2010-%m2-01T00:00:00   0.0      1.0     emi_nh3           /discover/nobackup/cakelle2/data/HTAP/EDGAR_HTAP_NH3_RESIDENTIAL_2010.generic.01x01.nc

# --- KORUS ---
KORUS_CO_MOBILE  kg_m-2_s-1     Y    N 2015-%m2-01T00:00:00   0.0      1.0     CO_MOBILE          /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_CO.x3600_y1800_t12.2015.nc4
KORUS_CO_POINT   kg_m-2_s-1     Y    N 2015-%m2-01T00:00:00   0.0      1.0     CO_POINT           /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_CO.x3600_y1800_t12.2015.nc4
KORUS_CO_AREA    kg_m-2_s-1     Y    N 2015-%m2-01T00:00:00   0.0      1.0     CO_AREA            /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_CO.x3600_y1800_t12.2015.nc4
KORUS_CO_SHIP    kg_m-2_s-1     Y    N 2015-%m2-01T00:00:00   0.0      1.0     CO_SHIP            /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_CO.x3600_y1800_t12.2015.nc4

KORUS_OC_MOBILE  kg_m-2_s-1     Y    N 2015-%m2-01T00:00:00   0.0      1.0     OC_MOBILE          /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_OC.x3600_y1800_t12.2015.nc4
KORUS_OC_POINT   kg_m-2_s-1     Y    N 2015-%m2-01T00:00:00   0.0      1.0     OC_POINT           /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_OC.x3600_y1800_t12.2015.nc4
KORUS_OC_AREA    kg_m-2_s-1     Y    N 2015-%m2-01T00:00:00   0.0      1.0     OC_AREA            /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_OC.x3600_y1800_t12.2015.nc4
KORUS_OC_SHIP    kg_m-2_s-1     Y    N 2015-%m2-01T00:00:00   0.0      1.0     OC_SHIP            /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_OC.x3600_y1800_t12.2015.nc4

KORUS_BC_MOBILE  kg_m-2_s-1     Y    N 2015-%m2-01T00:00:00   0.0      1.0     BC_MOBILE          /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_BC.x3600_y1800_t12.2015.nc4
KORUS_BC_POINT   kg_m-2_s-1     Y    N 2015-%m2-01T00:00:00   0.0      1.0     BC_POINT           /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_BC.x3600_y1800_t12.2015.nc4
KORUS_BC_AREA    kg_m-2_s-1     Y    N 2015-%m2-01T00:00:00   0.0      1.0     BC_AREA            /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_BC.x3600_y1800_t12.2015.nc4
KORUS_BC_SHIP    kg_m-2_s-1     Y    N 2015-%m2-01T00:00:00   0.0      1.0     BC_SHIP            /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_BC.x3600_y1800_t12.2015.nc4

KORUS_SO2_MOBILE kg_m-2_s-1     Y    N 2015-%m2-01T00:00:00   0.0      1.0     SO2_MOBILE          /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_SO2.x3600_y1800_t12.2015.nc4
KORUS_SO2_POINT  kg_m-2_s-1     Y    N 2015-%m2-01T00:00:00   0.0      1.0     SO2_POINT           /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_SO2.x3600_y1800_t12.2015.nc4
KORUS_SO2_AREA   kg_m-2_s-1     Y    N 2015-%m2-01T00:00:00   0.0      1.0     SO2_AREA            /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_SO2.x3600_y1800_t12.2015.nc4
KORUS_SO2_SHIP   kg_m-2_s-1     Y    N 2015-%m2-01T00:00:00   0.0      1.0     SO2_SHIP            /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_SO2.x3600_y1800_t12.2015.nc4

KORUS_NH3_MOBILE kg_m-2_s-1     Y    N 2015-%m2-01T00:00:00   0.0      1.0     NH3_MOBILE          /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_NH3.x3600_y1800_t12.2015.nc4
KORUS_NH3_POINT  kg_m-2_s-1     Y    N 2015-%m2-01T00:00:00   0.0      1.0     NH3_POINT           /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_NH3.x3600_y1800_t12.2015.nc4
KORUS_NH3_AREA   kg_m-2_s-1     Y    N 2015-%m2-01T00:00:00   0.0      1.0     NH3_AREA            /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_NH3.x3600_y1800_t12.2015.nc4
KORUS_NH3_SHIP   kg_m-2_s-1     Y    N 2015-%m2-01T00:00:00   0.0      1.0     NH3_SHIP            /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_NH3.x3600_y1800_t12.2015.nc4

KORUS_MASK       1              N    N -                      0.0      1.0     MASK                /discover/nobackup/pcastell/KORUS_emis/KORUS.emis_mask.x3600_y1800_t12.2015.nc4

# --- MEGAN ---
MEGAN_AEF_ISOP  'kgC/m2/s'      N    Y -                    none     none    AEF_ISOPRENE      /discover/nobackup/cakelle2/data/MEGAN_20180519/MEGAN2.1_EF.geos.025x03125.esmf.nc
MEGAN_AEF_MBOX  'kgC/m2/s'      N    Y -                    none     none    AEF_MBO           /discover/nobackup/cakelle2/data/MEGAN_20180519/MEGAN2.1_EF.geos.025x03125.esmf.nc
MEGAN_AEF_BPIN  'kgC/m2/s'      N    Y -                    none     none    AEF_BETA_PINENE   /discover/nobackup/cakelle2/data/MEGAN_20180519/MEGAN2.1_EF.geos.025x03125.esmf.nc
MEGAN_AEF_CARE  'kgC/m2/s'      N    Y -                    none     none    AEF_CARENE        /discover/nobackup/cakelle2/data/MEGAN_20180519/MEGAN2.1_EF.geos.025x03125.esmf.nc
MEGAN_AEF_LIMO  'kgC/m2/s'      N    Y -                    none     none    AEF_LIMONENE      /discover/nobackup/cakelle2/data/MEGAN_20180519/MEGAN2.1_EF.geos.025x03125.esmf.nc
MEGAN_AEF_OCIM  'kgC/m2/s'      N    Y -                    none     none    AEF_OCIMENE       /discover/nobackup/cakelle2/data/MEGAN_20180519/MEGAN2.1_EF.geos.025x03125.esmf.nc
MEGAN_AEF_SABI  'kgC/m2/s'      N    Y -                    none     none    AEF_SABINENE      /discover/nobackup/cakelle2/data/MEGAN_20180519/MEGAN2.1_EF.geos.025x03125.esmf.nc
CLM4_PFT_BARE      '1'          N    N -                    none     none    PFT_BARE          /discover/nobackup/cakelle2/data/MEGAN_20180519/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_NDLF_EVGN_TMPT_TREE '1' N    N -                    none     none    PFT_NDLF_EVGN_TMPT_TREE /discover/nobackup/cakelle2/data/MEGAN_20180519/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_NDLF_EVGN_BORL_TREE '1' N    N -                    none     none    PFT_NDLF_EVGN_BORL_TREE /discover/nobackup/cakelle2/data/MEGAN_20180519/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_NDLF_DECD_BORL_TREE '1' N    N -                    none     none    PFT_NDLF_DECD_BORL_TREE /discover/nobackup/cakelle2/data/MEGAN_20180519/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_BDLF_EVGN_TROP_TREE '1' N    N -                    none     none    PFT_BDLF_EVGN_TROP_TREE /discover/nobackup/cakelle2/data/MEGAN_20180519/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_BDLF_EVGN_TMPT_TREE '1' N    N -                    none     none    PFT_BDLF_EVGN_TMPT_TREE /discover/nobackup/cakelle2/data/MEGAN_20180519/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_BDLF_DECD_TROP_TREE '1' N    N -                    none     none    PFT_BDLF_DECD_TROP_TREE /discover/nobackup/cakelle2/data/MEGAN_20180519/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_BDLF_DECD_TMPT_TREE '1' N    N -                    none     none    PFT_BDLF_DECD_TMPT_TREE /discover/nobackup/cakelle2/data/MEGAN_20180519/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_BDLF_DECD_BORL_TREE '1' N    N -                    none     none    PFT_BDLF_DECD_BORL_TREE /discover/nobackup/cakelle2/data/MEGAN_20180519/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_BDLF_EVGN_SHRB      '1' N    N -                    none     none    PFT_BDLF_EVGN_SHRB      /discover/nobackup/cakelle2/data/MEGAN_20180519/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_BDLF_DECD_TMPT_SHRB '1' N    N -                    none     none    PFT_BDLF_DECD_TMPT_SHRB /discover/nobackup/cakelle2/data/MEGAN_20180519/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_BDLF_DECD_BORL_SHRB '1' N    N -                    none     none    PFT_BDLF_DECD_BORL_SHRB /discover/nobackup/cakelle2/data/MEGAN_20180519/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_C3_ARCT_GRSS        '1' N    N -                    none     none    PFT_C3_ARCT_GRSS        /discover/nobackup/cakelle2/data/MEGAN_20180519/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_C3_NARC_GRSS        '1' N    N -                    none     none    PFT_C3_NARC_GRSS        /discover/nobackup/cakelle2/data/MEGAN_20180519/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_C4_GRSS             '1' N    N -                    none     none    PFT_C4_GRSS             /discover/nobackup/cakelle2/data/MEGAN_20180519/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_CROP                '1' N    N -                    none     none    PFT_CROP                /discover/nobackup/cakelle2/data/MEGAN_20180519/CLM4_PFT.geos.025x03125.esmf.nc
MEGAN_ORVC       'kgC/m2/s'      Y    Y 1999-%m2-01T00:00:00 none     none    OCPI                    /discover/nobackup/cakelle2/data/NVOC.geos.1x1.esmf.nc

# --- CH4 RICE & WETLANDS ---
CH4_RICE           kg_m2_s-1  N    N -                      0.0      1.0     ch4_4C_4D         /discover/nobackup/cakelle2/data/CH4/v42_CH4.0.1x0.1.2008.esmf.nc
CH4_GWET_YR        1          N    N -                      0.0      1.0     GWETTOP           /discover/nobackup/cakelle2/data/CH4/GWETTOP.annual.geos5.2x25.esmf.nc
CH4_GWET_MT        1          Y    N 2011-%m2-01T00:00:00   0.0      1.0     GWETTOP           /discover/nobackup/cakelle2/data/CH4/GWETTOP.monthly.geos5.2x25.esmf.nc
CH4_MEAN_T         1          N    N -                      0.0      1.0     TSKIN             /discover/nobackup/cakelle2/data/CH4/TSKIN.annual.geos5.2x25.esmf.nc
CH4_WETFRAC        1          N    N -                      0.0      1.0     WETFRAC           /discover/nobackup/cakelle2/data/CH4/Wetfrac.2x25.esmf.nc
CH4_LITTER_C       kg_m2_s-1  N    N -                      0.0      1.0     CARBON            /discover/nobackup/cakelle2/data/CH4/Carbon_litter.2x25.esmf.nc
CH4_SOIL_C         kg_m2_s-1  N    N -                      0.0      1.0     CARBON            /discover/nobackup/cakelle2/data/CH4/Carbon_soil.2x25.esmf.nc

# --- Mask ---
#TIMEZONES NA  N V - none none  UTC_OFFSET /discover/nobackup/cakelle2/data/timezones_esmf.2x25.nc

%%

DerivedExports%%
# ---------|---------|--------------------------------------------|
#  Export  | Primary |_________________ Mask _____________________|
#  Name    |  Name   |    Name    |           Expression          |    
# ---------|---------|------------|-------------------------------|
# ---------|---------|------------|-------------------------------|
%%
