### HEMCO INPUT FILE ###
# ==================================================================================================

####################################################################################
BEGIN SECTION SETTINGS
####################################################################################
#
ROOT               : /discover/nobackup/cakelle2/data
Logfile            : HEMCOgmi.log
DiagnPrefix        : HEMCOgmi_diagnostics
DiagnFreq          : 00000000 010000
Negative values    : 2
Unit tolerance     : 1
Verbose            : 3
Warnings           : 1
DiagnTimeStamp     : Start
DiagnNoLevDim      : true 
SpecFile           : HEMCOgmi_Spec.rc
DiagnFile          : HEMCOgmi_Diagn.rc
DefaultDiagnOn     : false
DefaultDiagnSname  : HEMCOgmi_
DefaultDiagnLname  : HEMCOgmi_emissions_species
DefaultDiagnDim    : 2
#
END SECTION SETTINGS 

####################################################################################
BEGIN SECTION EXTENSION SWITCHES
####################################################################################
# Make sure that the ExtNr provided here matches with the ExtNr provided in the base 
# emissions sections. Otherwise, the listed files won't be read!
#
# ExtNr ExtName           on/off  Species
0       Base              : on    *
    --> TIMEZONES         :       false
    --> GMICHEM           :       true
    --> MEGAN_FIELDS      :       true
108     MEGAN             : on    ISOP/ACET/PRPE/C2H4/ALD2/EOH/SOAP/SOAS
    --> Isoprene scaling  :       1.0
    --> CO2 inhibition    :       true
    --> CO2 conc (ppmv)   :       390.0
    --> Isoprene to SOAP  :       0.015
    --> Isoprene to SOAS  :       0.015
    --> Normalize LAI     :       true
    --> MEGAN_SUFFIX      :       _GMI
#3% mass yield from isoprene to SOA
109     MEGAN_Mono        : on    CO/MTPA/MTPO/LIMO/SESQ
    --> Monoterp to SOAP  :       0.050
    --> Monoterp to SOAS  :       0.050
#10% mass yield from monoterpenes to SOA
    --> Othrterp to SOAP  :       0.050
    --> Othrterp to SOAS  :       0.050
#
END SECTION EXTENSION SWITCHES 

####################################################################################
BEGIN SECTION BASE EMISSIONS 
####################################################################################


#=======================================================================================================================================
# --- MEGAN biogenic emissions (Extension 108)
#=======================================================================================================================================
# NOTE: These are the base emissions, which will be converted to kgC/m2/s by HEMCO. The specified species (OCPI/ISOP/ACET) are required
#       for proper unit conversion. Since netCDF files are already in mass carbon (ug(C)), the only important thing is to specify a VOC
#       with a specified MW of 12g/mol. This is the case for OCPI, ISOP and ACET.
(((MEGAN_FIELDS
108  MEGAN_AEF_ISOP_GMI           ~/data/MEGAN2.1_EF.geos.1x1.nc AEF_ISOPRENE            1985/1/1/0    C xy kgC/m2/s * - 1 1
109  MEGAN_AEF_MBOX_GMI           ~/data/MEGAN2.1_EF.geos.1x1.nc AEF_MBO                 1985/1/1/0    C xy kgC/m2/s * - 1 1
109  MEGAN_AEF_BPIN_GMI           ~/data/MEGAN2.1_EF.geos.1x1.nc AEF_BETA_PINENE         1985/1/1/0    C xy kgC/m2/s * - 1 1
109  MEGAN_AEF_CARE_GMI           ~/data/MEGAN2.1_EF.geos.1x1.nc AEF_CARENE              1985/1/1/0    C xy kgC/m2/s * - 1 1
109  MEGAN_AEF_LIMO_GMI           ~/data/MEGAN2.1_EF.geos.1x1.nc AEF_LIMONENE            1985/1/1/0    C xy kgC/m2/s * - 1 1
109  MEGAN_AEF_OCIM_GMI           ~/data/MEGAN2.1_EF.geos.1x1.nc AEF_OCIMENE             1985/1/1/0    C xy kgC/m2/s * - 1 1
109  MEGAN_AEF_SABI_GMI           ~/data/MEGAN2.1_EF.geos.1x1.nc AEF_SABINENE            1985/1/1/0    C xy kgC/m2/s * - 1 1
109  CLM4_PFT_BARE_GMI            ~/data/CLM4_PFT.geos.1x1.nc    PFT_BARE                2000/1/1/0    C xy 1        * - 1 1
109  CLM4_PFT_NDLF_EVGN_TMPT_TREE_GMI ~/data/CLM4_PFT.geos.1x1.nc    PFT_NDLF_EVGN_TMPT_TREE 2000/1/1/0    C xy 1        * - 1 1
109  CLM4_PFT_NDLF_EVGN_BORL_TREE_GMI ~/data/CLM4_PFT.geos.1x1.nc    PFT_NDLF_EVGN_BORL_TREE 2000/1/1/0    C xy 1        * - 1 1
109  CLM4_PFT_NDLF_DECD_BORL_TREE_GMI ~/data/CLM4_PFT.geos.1x1.nc    PFT_NDLF_DECD_BORL_TREE 2000/1/1/0    C xy 1        * - 1 1
109  CLM4_PFT_BDLF_EVGN_TROP_TREE_GMI ~/data/CLM4_PFT.geos.1x1.nc    PFT_BDLF_EVGN_TROP_TREE 2000/1/1/0    C xy 1        * - 1 1
109  CLM4_PFT_BDLF_EVGN_TMPT_TREE_GMI ~/data/CLM4_PFT.geos.1x1.nc    PFT_BDLF_EVGN_TMPT_TREE 2000/1/1/0    C xy 1        * - 1 1
109  CLM4_PFT_BDLF_DECD_TROP_TREE_GMI ~/data/CLM4_PFT.geos.1x1.nc    PFT_BDLF_DECD_TROP_TREE 2000/1/1/0    C xy 1        * - 1 1
109  CLM4_PFT_BDLF_DECD_TMPT_TREE_GMI ~/data/CLM4_PFT.geos.1x1.nc    PFT_BDLF_DECD_TMPT_TREE 2000/1/1/0    C xy 1        * - 1 1
109  CLM4_PFT_BDLF_DECD_BORL_TREE_GMI ~/data/CLM4_PFT.geos.1x1.nc    PFT_BDLF_DECD_BORL_TREE 2000/1/1/0    C xy 1        * - 1 1
109  CLM4_PFT_BDLF_EVGN_SHRB_GMI      ~/data/CLM4_PFT.geos.1x1.nc    PFT_BDLF_EVGN_SHRB      2000/1/1/0    C xy 1        * - 1 1
109  CLM4_PFT_BDLF_DECD_TMPT_SHRB_GMI ~/data/CLM4_PFT.geos.1x1.nc    PFT_BDLF_DECD_TMPT_SHRB 2000/1/1/0    C xy 1        * - 1 1
109  CLM4_PFT_BDLF_DECD_BORL_SHRB_GMI ~/data/CLM4_PFT.geos.1x1.nc    PFT_BDLF_DECD_BORL_SHRB 2000/1/1/0    C xy 1        * - 1 1
109  CLM4_PFT_C3_ARCT_GRSS_GMI        ~/data/CLM4_PFT.geos.1x1.nc    PFT_C3_ARCT_GRSS        2000/1/1/0    C xy 1        * - 1 1
109  CLM4_PFT_C3_NARC_GRSS_GMI        ~/data/CLM4_PFT.geos.1x1.nc    PFT_C3_NARC_GRSS        2000/1/1/0    C xy 1        * - 1 1
109  CLM4_PFT_C4_GRSS_GMI         ~/data/CLM4_PFT.geos.1x1.nc    PFT_C4_GRSS             2000/1/1/0    C xy 1        * - 1 1
109  CLM4_PFT_CROP_GMI            ~/data/CLM4_PFT.geos.1x1.nc    PFT_CROP                2000/1/1/0    C xy 1        * - 1 1
109  MEGAN_ORVC_GMI               ~/data/NVOC.geos.1x1.nc        OCPI                    1990/1-12/1/0 C xy kgC/m2/s * - 1 1
)))MEGAN_FIELDS

#==============================================================================
# --- time zones (offset to UTC) ---
#==============================================================================
(((TIMEZONES
* TIMEZONES $ROOT/timezones_esmf.2x25.nc UTC_OFFSET 2000/1/1/0 C xy count * - 1 1
)))TIMEZONES

END SECTION BASE EMISSIONS 


### END OF HEMCO INPUT FILE ###
